.timerContainer {
  font-family: "argent-pixel-cf", monospace;
  font-size: 0.9rem;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  padding: 5px;
  background-color: transparent;
  width: fit-content;
  margin: 0;
  text-align: left;
}

/* Adjust timer spacing on mobile devices */
@media (max-width: 768px) {
  .timerContainer {
    align-self: flex-start;
    padding: 5px;
  }
}

.timerContainer:hover {
  opacity: 1;
}

.timerText {
  color: black; /* Keep text color black */
}
